@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --padding: 20px;
    --playfairDisplayFont: "Playfair Display", serif;
    --robotoFont: "Roboto", sans-serif;
    --blue: #0891B2;
    --black: #000000;
    --white: #FFFFFF;
    --grey: #565656;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    min-height: 100vh;
    font-family: var(--robotoFont);
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--blue);

    transform-origin: top left;
    transform: rotate(60deg) translate(-100%, -100%) scale(2);

    z-index: -1;
}

header {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer {
    background-color: var(--blue);
}

header, 
section, 
footer {
    padding: var(--padding);
}

.headshot-container {
    position: relative;
    padding-left: var(--padding);
    padding-right: var(--padding);
}

.header-headshot,
.name-container {
    display: flex;
    justify-content: center;
}

.header-headshot img {
    width: 100%;
}

.header-title {
    text-align: center;
    font-family: var(--playfairDisplayFont);
    font-weight: normal;
}

.name {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    color: var(--white);
    padding-left: calc(1rem + var(--padding));
    padding-right: calc(1rem + var(--padding));
    width: 100%;
    font-size: calc(6rem + 2.5vw);
    overflow: hidden;
}

.about-container {
    color: var(--grey);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about {
    font-size: calc(3rem + 1.25vw);
    color: var(--black);
}

.about-container > p {
    font-size: 1.25rem;
}

.socials-container-header {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.socials-container-header svg {
    --size: 2rem;

    max-width: var(--size);
    max-height: var(--size);
    flex-shrink: 0;

    cursor: pointer;
}

.phone-symbol-container,
.email-symbol-container {
    display: none;
}

@media only screen and (min-width: 768px) {
    .phone-symbol-container,
    .email-symbol-container {
        display: block;
    }
}

/* @media only screen and (min-width: 1280px) {

} */